<h2 class="subtitle is-4">Login</h2>
<form name="login" method="POST">
  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input name="username" class="input" type="text" placeholder="user" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input name="password" class="input" type="password" placeholder="password" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Captcha</label>
    <div class="control">
      <input name="captcha" class="input" type="number" placeholder="Enter captcha" required>
    </div>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="field">
      <p class="is-size-4 has-text-weight-semibold has-text-info" name="captcha"><%= @captcha %></p>
    </div>
    <input name="real_captcha" type="hidden" value=<%= @captcha %>></input>
    <button class="button is-danger" type="submit">Submit</button>
  </div>
</form>
</br>
<%= @authenticated %>
