<h2 class="subtitle is-4">XML Pretty Print</h2>
<div class="file">
  <form name="file_upload" method="POST" action="/xml_external_entity" enctype="multipart/form-data">
  <div class="field">
    <label class="file-label">
      <input class="file-input" type="file" name="file" required>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <span class="file-cta">
        <span class="file-label">
          Choose a file…
        </span>
      </span>
    </label>
    </div>
    <button class="button is-danger" type="submit">Upload</button>
  </form>
</div>
</br>
<pre>
<%= @content %>
</pre>