<h1 class="title">Damn Vulnerable Ruby App</h1>
<p class="subtitle is-5">A vulnerable <span class="has-text-danger">Ruby on Rails</span> application</p>
<aside class="menu">
  <p class="menu-label">
    OWASP Top 10
  </p>
  <ul class="menu-list">
    <li><a class="has-text-danger" href="/injection">Injection</a></li>
    <li><a class="has-text-danger" href="/broken_authentication">Broken Authentication</a></li>
    <li><a class="has-text-danger" href="/sensitive_data_exposure">Sensitive Data Exposure</a></li>
    <li><a class="has-text-danger" href="/xml_external_entity">XML External Entities</a></li>
    <li><a class="has-text-danger" href="/broken_access_control">Broken Access Control</a></li>
    <li><a class="has-text-danger" href="/security_misconfiguration">Security Misconfiguration</a></li>
    <li><a class="has-text-danger" href="/cross_site_scripting">Cross-Site Scripting</a></li>
    <li><a class="has-text-danger" href="/insecure_deserialization">Insecure Deserialization</a></li>
    <li><a class="has-text-danger" href="/known_vulnerabilities">Components with Known Vulnerabilities</a></li>
    <li><a class="has-text-danger" href="/insufficient_logging_monitoring">Insufficient Logging and Monitoring</a></li>
  </ul>
</aside>