<h2 class="subtitle is-4">To-do list</h2>
<div class="field">
  <input class="input" type="text" placeholder="Task" id="task" required>
</div>
<button class="button is-danger" onclick="document.getElementById('todo').innerHTML+='\n'+document.getElementById('task').value.replace(/(\b)(on\S+)(\s*)=|javascript|(<\s*)(\/*)script/gm, '')">Add</button>
</br></br>
<pre id='todo'></pre>
