<h2 class="subtitle is-4">Upload Photo</h2>
<%= form_for @photo, html: { multipart: true } do |f| %>
<% if @photo.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:" %>
  </h2>
  <ul>
    <% @photo.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :title %>
  <%= text_field :title, "", class: 'input' %>
</div>

<div class="form-group">
  <%= f.label :image %>
  <%= f.file_field :image, class: '' %>
</div>
</br>
<div class="form-group">
  <%= f.submit 'Upload Photo', class: 'button is-danger' %>
</div>
<% end %>