<p><%= @current_date %></p></br>
<%= form_tag("/injection", method: "post") do %>
  <%= label_tag("Username Check:", nil, class: 'label') %>
  <div class="field">
    <%= text_field_tag(:username, "", class: 'input') %>
  </div>
    <%= submit_tag("Verify", class: 'button is-danger') %>
<% end %>
</br>
<p><%= @user %></p>