<!DOCTYPE html>
<html>

<head>
  <title>DVRA</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', 'https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css'%>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar is-danger" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <h1 class="title has-text-white">DVRA</h1>
      </a>
    </div>
  </nav>
  <section class="section">
    <div class="container">
      <div class="box">
      <%= yield %>
</body>

</html>